body * {
    box-sizing: border-box;
}
.header_block{
    width:100%;
    min-height: 530px;
    background-size: cover;
    background-image: url(img/header_bckg.jpg);
    margin:0 0 51px 0;
}
.limit{
    width: 100%;
    max-width:1110px;
    padding: 0 15px;
    margin: 0 auto;
}
.ft-montserrat{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #4F4F4F;
}
.ft-montserrat-16{
    font-size: 16px;
    line-height: 24px;
}
.ft-montserrat-18{
    font-size: 18px;
    line-height: 22px;
}
.d-flex-nowrap{
    display: flex;
    align-items: center;
}
.logo_burger_cont{
    display: flex;
}
.header_block__menu{
    padding:20px 0 0 0;
    margin: 0 0 23px 0;
}
.header-mob-menu{
    display: none;
}
.header-logo{
    margin-right: 58px;
    cursor: pointer;
}
.nav-item{
    margin-right: 45px;
    cursor: pointer;
}
.telep_mob_cont{
    display: none;
}
.telephone_num a{
    color: #000000;
    cursor: pointer;
    text-decoration: none;
}
.line{
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    margin:0 0 59px 0;
}
.banner-cont{
    display: flex;
    justify-content: center;
}
.banner-cont__info{
    max-width:590px;
    margin: 0 100px 0 0;
}
.banner-cont__title{
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
    margin: 0 0 22px 0;
}
.def_txt-style{
    color: #000000;
}
.form-style2{
    display: none;
}
.form-style3{
    display: none;
}
.form-style{
    background-color:rgba(255, 255, 255, .7);
    border: 2px solid #00B5DD;
}
.header_block .form-style form{
    display: flex;
    flex-wrap: wrap;
    max-width: 255px;
}
.form_cont{
    padding:22px 30px 30px 30px;
}
.form-name, .form-tel{
    padding:10px 13px;
    background: #FFFFFF;
    border: 1px solid #A2A2A2;
    border-radius: 3px;
    font-size: 14px;
    line-height: 17px;
    width:255px;
}
.form_title{
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin:0 0 22px 0;
    color: #000000;
}
.form-name{
    margin:0 0 25px 0;
}
.form-tel{
    margin:0 0 17px 0;
}
.form-checkbox{
    font-size: 12px;
    line-height: 15px;
    display:flex;
    margin:0 0 25px 0;
}
.form-checkbox a{
    color: #00B5DD;
    text-decoration: none;
}
input[type=checkbox]{
    margin-right: 9px;
    width:18px;
    height:18px;
}
.form-btn{
    width: 213px;
    height:40px;
    margin:0 auto;
    display: block;
}
.btn-blue{
    background: #00B5DD;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    color: #FFFFFF;
    border:none;
    font-size: 16px;
    line-height: 20px;
}
.burger-menu{
    display: none;
}
#login-error{
    font-size:11px;
    margin:-20px 0 20px 0;
}
#tel-error{
    font-size:11px;
    margin: -10px 0 17px 0;
}
/* block2 */
.services{
    position: relative;
}
.def-title{
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    text-align: center;
}
.services-title_mg{
    margin: 0 0 38px 0;
}
.services .slick-slide > div{
    display: flex;
}
.services_slide div .services_slide_item{
    margin: 0 30px 25px 0;
}
.services_slide div .services_slide_item:last-child{
    margin: 0;
}
.services_slide {
    box-sizing:border-box;
}
.services .card_cont{
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid transparent;
}
.card_cont:hover{
    cursor: pointer;
    border-color:#00B5DD;
}
.card_1{
    background-image: url(img/service_1.jpg);
}
.card_3{
    background-image: url(img/service_3.jpg);
}
.card_4{
    background-image: url(img/service_4.jpg);
}
.card_5{
    background-image: url(img/service_5.jpg);
}
.card_6{
    background-image: url(img/service_6.jpg);
}
.card_content_cont{
    padding:18px 25px 20px 26px;
    color: #FFFFFF;
}
.card_category_cont{
    min-height: 222px;
    margin-bottom: 20px;
}
.category_cont{
    font-size: 16px;
    line-height: 24px;
    max-width: 132px;
    margin-bottom: 143px;
}
.category{
    padding:3px 10px 3px 10px;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    text-align: center;
}
.category_type{
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 16px 0;
}
.category_price{
    font-size: 24px;
    line-height: 29px;
}
/*  modal window  */
.modal-for-prod{
    width: 100%;
    height: 100%;
    display: none;
}
.modal-for-prod.active{
    display:block;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(31, 31, 31, 0.7);
    overflow-y: hidden;
}
.modal-cont{
    width: 100%;
    max-width: 980px;
    background: #FFFFFF;
    z-index: 20;
    position: fixed;
    top: 10%;
    left: 25%;
    border: 2px solid #00B5DD;
    filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.2));
}
.modal-cont-header{
    padding:15px 0 20px 0;
}
.modal-close {
    background: url(img/Close.png) no-repeat center;
    cursor: pointer;
    width: 16px;
    height: 16px;
    float: right;
    margin:0 15px 0 0;
}
.modal_container{
    padding:0 30px 56px 30px;
}
.modal_container span{
    text-align: center;
    display: block;
}
.modal-n-title{
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
}
.modal_txt{
    margin: 0 0 30px 0;
    font-size: 16px;
    line-height: 24px;
}
.modal_photo{
    min-width: 540px;
    max-height: 401px;
}
/* modal-slick */
/* bxslider test */
.modal_photo2{
    min-width: 160px;
    max-width: 160px;
}

.modal-slider{
    display: flex;
    justify-content: center;
    padding-left: 30px;
}
.bxslider{
    padding-left: 0;
}
.bxslider ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.modal-slider .bx-wrapper {
    min-width: 540px;
    margin: 0 30px 0 0;
    max-height: 401px;
  }
.bx-wrapper li {
  float:none;
}
.modal-slider .bx-viewport { 
    max-height: 401px ; 
    min-height: 401px ;
} 
.bx-wrapper img {
    display: block;
    min-height: 401px;
}
#bx-pager{
    display: flex;
}
#bx-pager div{
    margin-right: 30px;
}
#bx-pager
{
    text-align: center;
    display: flex;
}
#bx-pager a img{
      display: flex;
      flex-direction: column;
      margin: 0 0 22px 0;
      max-height: 119px;
}
#bx-pager a.active img {
    border: 1px solid #00B5DD;
}
/* block3 */
.our_production{
    margin: 0 0 43px 0;
    background: #F8F9FB;
    padding: 27px 0 59px 0;
}
.our_production .def-title{
    margin:0 0 30px 0;
}
.nav-tabs-block-price{
    display: flex;
    justify-content: center;
}
.nav-tabs-block{
    margin: 0 0 25px 0;
}
.product_card_cont{
    padding:17px 21px 20px 21px;
    text-align:center;
}
.product_card_cont img{
    margin:0 auto 40px auto;
    max-width: 100%;
    /* height: 190px; */
}
.product_name{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 5px;
}
.availability {
    margin: 0 0 5px 0;
}
.availability span{
    font-size: 14px;
    line-height: 17px;
    color: #00B412;
}
.no_availability span{
    color: #EB5757;
}
.product_price span{
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
}
/* block3 test slick*/
.nav-tabs-block li{
    list-style-type: none;
    margin:0 35px 0 0;
}
.nav-tabs-block li a:hover {
    color:#00B5DD;
    cursor: pointer;
}
.nav-tabs-block li a.active{
    color:#00B5DD;
}
.nav-tabs-block li a{
    text-decoration: none;
    color: #4F4F4F;
}
.product_slick_slider{
    position: relative;
}
.slider_cont{
    background: #FFFFFF;
    border: 1px solid #F2F1F1;
    /* width: 270px !important; */
    box-sizing: border-box;
}
.slider_cont:hover{
    cursor: pointer;
    border: 2px solid #00B5DD;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}
.our_production .prev-btn{
    display: block;
    top: 50%;
    position: absolute;
    left: 10px;
    z-index: 1;
    max-width: 20px;
}
.our_production .next-btn{
    display: block;
    top: 50%;
    right: 10px;
    position: absolute;
    max-width: 20px;
}
.prev-btn,
.next-btn{
    cursor: pointer;
}
.our_production{
    position: relative;
}
.product_slick_category{
    position: absolute;
    width: 132px;
    height: 30px;
    background: #00B5DD;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 17px;
    max-width: 132px;
    padding: 8px 0 8px 0;
    text-align: center;
    top: 162px;
    z-index: 5;
    left: 430px;
}
/* block4 */
.tariffs{
    margin: 0 0 56px 0;
}
.tariffs .def-title{
    margin: 0 0 37px 0;
}
.tariffs_slider{
    position: relative;
}
.tariffs .prev-btn{
    display: block;
    top: 50%;
    position: absolute;
    left: -15px;
    z-index: 1;
    max-width: 20px;
}
.tariffs .next-btn{
    display: block;
    top: 50%;
    right: 18px;
    position: absolute;
    max-width: 20px;
}
.tariffs .tariff_card {
    box-sizing: border-box;
}
.tariffs .tariff_card:hover {
    border: 2px solid #00B5DD;
}
.card-img{
    border-radius: 0;
    max-width: 100%;
    min-height: 190px;
}
.card-img1{
    background: url(img/img1.jpg) no-repeat;
    background-size: cover;
}
.card-img2{
    background: url(img/img2.jpg) no-repeat;
    background-size: cover;
}
.card-img3{
    background: url(img/img3.jpg) no-repeat;
    background-size: cover;
}
.card-img4{
    background: url(img/img4.jpg) no-repeat;
    background-size: cover;
}
.tariff_card_txt{
    border: 1px solid #F2F1F1;
    box-sizing: border-box;
}
.tariff_card__cont{
    padding: 20px 22px 25px 22px; 
}
.tariff_card__title{
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin: 0 0 20px 0;
}
.param_cont{
    margin: 0 0 25px 0;
}
.param {
    margin-bottom: 10px;
    border-bottom: 1px dotted;
    margin: 0 0 16px 0;
}
.param span{
    font-size: 14px;
    line-height: 17px;
    display: block;
}
.param:after {
    content: '';
    display: table;
    clear: both;
}
.param__prop {
    float: left;
}
.param__value {
    float: right;
}
.param__prop,
.param__value {
  margin-bottom: -.31em;
  background: #fff;
}
.param_check{
    width: 12px;
    height: 15px;
    background-image: url(img/Check.png);
    background-repeat: no-repeat; 
}
.param_not_check{
    width: 12px;
    height: 15px;
    background-image: url(img/crest.png);
    background-repeat: no-repeat; 
}
.card_price_btn{
    text-align: center;
}
.card_price{
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    margin: 0 0 25px 0;
}
.btn-order{
    width: 137px;
    height: 40px;
}
.btn-white{
    background: #FFFFFF;
    border: 1px solid #00B5DD;
    box-sizing: border-box;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    font-size: 16px;
    line-height: 20px;
}
.btn-white:hover{
    background: #00B5DD;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
}
.product_card_popular{
position: relative;
}
.tarif_popular{
    position: absolute;
    width: 132px;
    height: 30px;
    background: #00B5DD;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 17px;
    max-width: 132px;
    padding: 8px 0 8px 0;
    text-align: center;
    top: 21px;
    z-index: 5;
    left: 15px;
}
/* block5 */
.advantages{
    background: #F8F9FB;
    padding:37px 0 47px 0;
}
.advantages .def-title{
    margin: 0 0 49px 0;
}
.advantage_item{
    text-align: center;
}
.advantage-icon{
    margin:0 0 27px 0;
}
.advantage_item .card-title{
    margin:0 0 27px 0;
    color: #000000;
}
.card-title{
    font-size: 18px;
    line-height: 24px;
}
/* block6 */
.our_team{
    padding: 35px 0 41px 0;
}
.our_team_title{
    margin: 0 0 33px 0;
}
.our_team_cont{
    display: flex;
    flex-wrap: wrap;
}
.review_cont{
    display: flex;
}
.our_team_item{
    border:1px solid #F2F1F1;
    cursor: pointer;
    box-sizing: border-box;
} 
.our_team_item:hover{
    border:2px solid #00B5DD;
}
.team_item_cont{
    padding:26px 12px 26px 22px;
    display: flex;
}
.our_team_slider2 .review_img {
    margin-right: 22px;
}
.our_team_slider2 .prof_of_card{
    margin:0 0 10px 0;
}
.review_img{
    margin-right: 30px;
}
.our_team_txt{
    display: flex;
    flex-direction: column;
}
.team_txt_cont{
    min-height: 112px;
    margin:0 0 30px 0;
}
.review_name{
    display: flex;
    flex-direction: column;
}
.reviews .review_name{
    margin: 0 0 10px 0;
}
.name_of_card{
    font-size: 18px;
    line-height: 24px;
    color: #00B5DD;
    margin: 0 0 8px 0;
}
.prof_of_card{
    font-size: 14px;
    line-height: 17px;
    color: #A2A2A2;
}
.team_item_info{
    font-size: 14px;
    line-height: 17px;
}
.our_team_icons_block{
    display: flex;
}
/* block7 */
.about_company{
    background: #F8F9FB;
    padding:27px 0 39px 0;
    margin: 0 0 36px 0;
}
.about_company img{
    max-width: 100%;
}
.about_company .def-title{
    margin: 0 0 30px 0;
}
.about_company_title{
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 0 0 22px 0;
}
.about_company_txt{
    font-size: 16px;
    line-height: 24px;
}
.about_company_txt:nth-child(2) {
    margin: 0 0 30px 0;
}
.about_company_txt:nth-child(3) {
    margin: 0 0 5px 0;
}
.about_company_info a{
    font-size: 16px;
    line-height: 24px;
    color: #00B5DD;
    text-decoration: none;
}
/* block8 */
.our_projects_info{
    margin:25px 0 0 0;
}
.category_prog{
    font-size: 24px;
    line-height: 29px;
}
/* block9 */
.reviews{
    background: #F8F9FB;
    padding: 24px 0 38px 0;
    margin:0 0 37px 0;
    position: relative;
}
.reviews-slider{
    position: relative;
}
.reviews-slider .owl-nav .owl-prev {
    position: absolute;
    left: -65px;
    top: 50px;
    width: 20px;
    height: 40px;
}
.reviews-slider .owl-nav .owl-prev:hover, 
.reviews-slider .owl-nav .owl-next:hover{
    background:none !important;
    outline:none !important;
    opacity: 0.6;
}
.reviews-slider .owl-nav .owl-next{
    position: absolute;
    right: -65px;
    top: 50px;
    width: 20px;
    height: 40px;
}
.review_img img{
    min-width: 160px;
}
.review_head_row{
    display: flex;
    justify-content: space-between;
}
.review_txt{
   margin: 0 0 20px 0;
}
.star-ratio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 18px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    font-size: 18px;
  }
  .ratio {
    width: 90px;
    height: 18px;
    position: relative;
    background: url(img/star.svg);
    background-size: 18px 18px;
    background-repeat: repeat-x;
  }
  .ratio input{
      margin: 0 10px 0 0;
  }
  .star-ratio:nth-of-type(1) {
    width: 18px;
    z-index: 5;
  }
  .star-ratio:nth-of-type(2) {
    width: 36px;
    z-index: 4;
  }
  .star-ratio:nth-of-type(3) {
    width: 54px;
    z-index: 3;
  }
  .star-ratio:nth-of-type(4) {
    width: 72px;
    z-index: 2;
  }
  .star-ratio:nth-of-type(5) {
    width: 90px;
    z-index: 1;
  }
  .star-ratio:checked,
  .star-ratio:hover {
    background: url(img/star_hover.svg);
    background-size: 18px 18px;
    background-repeat: repeat-x;
  }
  
  .star-ratio:hover~.star-ratio {
    background: url(img/star.svg);
    background-size: 18px 18px;
    background-repeat: repeat-x;
  }
.btn-white-size{
    width: 196px;
    height: 40px;
}
.reviews .owl-stage-outer button{
    display: block;
    margin:0 auto;
}
/* block10 */
.contacts{
    margin: 0 0 35px 0;
}
.cont{
    display: flex;
    justify-content: right;
}
.contacts_txt{
    margin-right: 60px;
}
.contacts_txt_block{
    display: flex;
    flex-direction: column;
    margin:0 0 15px 0;
}
.contacts_n{
    margin: 0 0 8px 0;
    font-size: 16px;
    line-height: 24px;
    color: #A2A2A2;
}
.day_row{
    display: flex;
}
.day_cont{
    min-width: 65px;
    margin-right:30px;
}
.contacts_text{
    margin: 0 0 5px 0;
    font-size: 16px;
    line-height: 24px;
}
.contacts_text a,
.contacts_txt_block a{
    text-decoration: none;
    color: #4F4F4F;
}
/* block11 */
.still_questions{
    background: #F8F9FB;
    padding: 43px 0 42px 0;
    position: relative;
}
.still_questions_cont{
    display: flex;
}
.questions_img_cont{
    margin:0 60px 0 0;
}
.still_questions_txt{
    padding:45px 0 0 0;
}
.still_questions_title{
    color: #4F4F4F;
    text-align: left;
    margin: 0 0 19px 0;
}
.ask-btn{
    width: 185px;
    height: 40px;
    margin-right: 29px;
}
/*footer_header*/
.footer_header .header_block__menu {
    background: #00B5DD;
}
.footer_header .header_block__menu {
    padding: 24px 0 24px 0;
    margin: 0;
}
.footer_header .header_block__nav {
    display: block;
    display: flex;
}
.footer_menu_cont{
    display: flex;
    color: #FFFFFF;
    align-items: center;
}
.footer_header .telephone_num a {
    color: #FFFFFF;
}
.header_block__nav2{
    display: none;
}
.telephone_num2{
    display: none;
}

/* block12 */
.footer{
    background: #4F4F4F;
    padding: 37px 0 26px 0;
}
.footer_cont{
    display: flex;
    justify-content: space-between;
}
.footer_txt{
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.footer_icons img{
    cursor: pointer;
}
.footer_icons a{
    margin: 0 28px 0 0;
}
.footer_icons a:last-child{
    margin: 0;
}
/* media_for_block1 */
@media (max-width: 1250px){
.limit{
    width: 100%;
    max-width:960px;
}
.header_block {
    margin: 0;
}
.header_block__menu{
    justify-content: space-between;
}
.header_block__nav{
    display: none;
}
.header_block {
    padding: 0 0 53px 0;
    min-height: 300px;
}
.banner-cont__info {
    max-width: 100%;
    margin: 0;
}
}
@media (max-width:768px){
.header-mob-menu{
    display: block;
}
.header-mob-menu{
margin:0 34px 0 0;
}
.header_block {
    padding: 0 0 53px 0;
    min-height: 300px;
}
.line {
    margin: 0 0 33px 0;
}
.burger-menu.active{
    display: block;
    border-radius: 10px;
}
.burger-menu_cont{
    position: absolute;
    width: 100%;
    max-width: 309px;
    background: #FFFFFF;
    z-index: 20;
    top: 0%;
    left: 0%;
    padding: 0 0 10px 39px;
}
.burger_block__nav .nav-item{
    margin:0 0 30px 0;
}
.modal-cont-header {
    padding: 20px 0 26px 0;
}
.banner-cont__title {
    font-size: 36px;
    line-height: 44px;
    margin: 0 0 18px 0;
}
.header_block .form-style{
    display: none;
}
.form-sec{
    background: #F8F9FB;
    margin: 0 0 21px 0;
}
.form-style2{
    display: block;
}
.form-style2 .form_title {
    margin: 0 0 15px 0;
}
.form-style2 .form-name, .form-tel  {
    margin: 0 30px 10px 0;
    width: 210px;
}
.form-style2 .form_cont {
    padding: 15px 30px 20px 30px;
}
.form-style2 .form-btn {
    margin: 0;
    display: inline;
}
}
@media (max-width:420px){
.def-title{
    font-size: 24px;
    line-height: 29px;
}
.telephone_num{
    display: none;
}
.telep_mob_cont{
   display: block;
}
.telephone_num_ph{
   background: url(img/svg/Phone.svg);
   width: 20px;
   height: 20px;
   cursor: pointer;
}
.header-mob-menu {
    margin: 0 80px 0 0;
}
.banner-cont__title {
    font-size: 24px;
    line-height: 29px;
}
.def_txt-style{
    font-size: 14px;
    line-height: 17px;
}
.form-sec{
    margin: 0;
}
.form-td{
    background: #F8F9FB;
    margin: 0 0 29px 0;
}
.form-style2{
    display: none;
}
.form-style3{
    display: block;
}
.form-style3 input{
    display: block;
}
.form-style3 .form-name, .form-tel  {
     width: 290px;
     margin: 17px auto;
}
.form-style3 #login-error {
    margin: -10px auto 17px auto;
    display: block;
    max-width: 290px;
}
.form-style3 #tel-error {
    margin: -10px auto  17px auto ;
    display: block;
    max-width: 290px;
}
.form-style3 .form-checkbox {
    margin: 0 auto 25px auto;
    max-width: 290px;
}
}
/* media_for_block2*/
@media (max-width: 1030px){
.modal-cont {
    max-width: 690px;
    left: 20%;
}
.modal-slider{
    display: flex;
    flex-direction: column;
    padding: 0;
    max-width: 540px;
    margin: 0 auto;
}
#bx-pager{
    flex-wrap: wrap;
    max-width: 540px;
}
.modal-slider .bx-wrapper {
    margin: 0 0 30px 0;
    display: flex;
    justify-content: center;
}
.modal-slider .bx-viewport {
    max-width: 540px;
}
#bx-pager div{
    display: flex;
    flex-direction: row;
    max-width: 540px;
    margin-right: 0;
}
#bx-pager a {
    margin: 0 30px 0 0;
}
}
@media (max-width: 768px){
.modal-cont {
    position: absolute;
    left: 5%;
}
.modal-slider .bx-wrapper {
    margin: 0 0 30px 0;
}
#bx-pager div {
    max-width: 130px;
    margin-right: 30px;
}
#bx-pager{
flex-direction: column;
}
}
@media (max-width:420px){ 
.services {
    padding: 0 0 31px 0;
}
.services-title_mg {
    margin: 0 0 27px 0;
}
.services_slide {
    position: relative;
}
.services_slide .prev-btn{
    position: absolute;
    top: 50%;
    left: -14px;
}
.services_slide .next-btn{
    position: absolute;
    top: 50%;
    right: -14px;
}
.modal-cont {
    max-width: 100%;
    top: 0%;
    left: 0;
}
.modal_container {
    padding: 0 15px 39px 15px;
}
.modal-slider {
    padding-left: 0; 
    max-width: 290px;
    margin: 0 auto;
}
.modal-slider .bx-wrapper {
    min-width: 290px;
    margin: 0;
}
.modal-slider .bx-viewport {
    max-height: 216px;
    min-height: 216px;
    margin: 0 0 15px 0;
}
.bx-wrapper img {
    min-height: auto;
}
.modal_photo {
    min-width: 290px;
    max-height: 216px;
}
#bx-pager {
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}
#bx-pager div {
    display: flex;
    flex-direction: column;
}
#bx-pager div:last-child {
    margin-right: 0;
}
.modal_photo2 {
    min-width: 130px;
    max-width: 130px;
    max-height: 97px;
}
}
/* media_for_block3 наша продукц slick */
@media (max-width:1024px){
.product_slick_category{
    left: 63px;
}
}
@media (max-width:768px){
.slider_cont {
    max-width: 330px;
    margin: 0 auto;
}
.product_card_cont {
    padding: 17px 48px 20px 48px;
}
.our_production .prev-btn {
    left: 0px;
}
.our_production .next-btn {
    right: 0px;
}
.product_slick_category{
    top: 160px;
}
}
@media (max-width:420px){
.nav-tabs-block {
    display: flex;
    flex-wrap: wrap;
}
.product_card_cont img {
    margin: 0 auto 40px auto;
}
.our_production .prev-btn {
    left: -10px;
}
.our_production .next-btn {
    right: -10px;
}
.product_slick_category {
    left: 43px;
    top: 182px;
}
}
/* media_for_block4 */
@media (max-width: 1030px){
.tariffs .product_card{
    max-width: 230px;
}
}
@media (max-width:768px){
.tariffs .product_card {
    max-width: 247px;
}
.tariffs .tariffs .prev-btn {
    left: -14px;
}
.tariffs .next-btn {
    right: -14px;
}
}
 @media (max-width:420px){ 
.tariffs .product_card {
    max-width: 390px;
}
.our_production {
    margin: 0 0 32px 0;
    padding: 27px 0 37px 0;
}
}
/* media_for_block5 */
@media (max-width:768px){
.advantages .col-md-6{
    margin: 0 0 48px 0;
}
}
@media (max-width:480px){
.card_txt-style{
    font-size: 14px;
    line-height: 17px;
}
.advantages {
    padding: 37px 0 0px 0;
}
}
/* media_for_block6 */
@media (max-width: 1250px){
.our_team_cont {
    justify-content: center;
}
.team_item_cont {
    flex-direction: column;
    padding: 0px 2px 0px 2px;
}
.our_team_slider2 .slick-slide > div{
    display: flex;
    justify-content: center;
}
.our_team_item {
    max-width: 330px;
    margin-right: 30px;
    border: none;
}
.our_team_item:last-child{
    margin-right: 0px;
}
.our_team_slider2 .review_img {
    margin: 0 0 22px 0;
}
.review_img img {
    margin: 0 auto;
}
.our_team_slider2 .footer_icons a {
    margin: 0 28px 16px 0;
}
.our_team_slider2 .footer_icons a:nth-child(3),
.our_team_slider2 .footer_icons a:nth-child(6){
    margin: 0 0 16px 0;
}
.our_team_txt {
    text-align: center;
}
.our_team_icons_block {
    max-width: 110px;
    flex-wrap: wrap;
    margin: 0 auto;
}
.our_team_slider2{
    position: relative;
}
.our_team_slider2 .prev-btn {
    display: block;
    top: 50%;
    position: absolute;
    left: 10px;
    z-index: 1;
    max-width: 20px;
}
.our_team_slider2 .next-btn {
    display: block;
    top: 50%;
    right: 10px;
    position: absolute;
    max-width: 20px;
}
}
/* media_for_block7 */
@media (max-width: 768px){
.about_company_txt:nth-child(2) {
    margin: 0 0 20px 0;
}
.about_company_txt {
    font-size: 14px;
    line-height: 17px;
}
}
@media (max-width: 480px){
.about_company {
    margin: 0;
}
.about_company_img1 {
    display: none;
}
.about_company_img2 {
    display: block;
    background: url(img/about_ph2.jpg) no-repeat;
    background-size: cover;
    max-width: 100%;
    min-width: 320px;
    min-height: 245px;
    margin: 0 0 23px 0;
}
.about_company_title {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 18px 0;
}
.about_company_txt:nth-child(3) {
    margin: 0 0 21px 0;
}
}
/* media_for_block9 */
@media (max-width: 1250px){
.reviews-slider .owl-nav .owl-prev {
    left: -40px;
}
.reviews-slider .owl-nav .owl-next {
    right: -25px;
}
}
@media (max-width:768px){
.reviews-slider .owl-nav .owl-prev {
    left: -23px;
    top:60px;
}
.reviews-slider .owl-nav .owl-next {
    right: -15px;
    top:60px;
}
}
@media (max-width:420px){
.review_cont {
    flex-wrap: wrap;
    justify-content: center;
}
.reviews-slider .owl-nav .owl-prev {
    left: -10px;
}
.reviews-slider .owl-nav .owl-next {
    right: -10px;
}
.review_img {
    margin: 0 auto 22px auto;
}
.review_head_row {
    justify-content: center;
    flex-wrap: wrap;
}
.name_of_card {
    margin: 0 0 15px 0;
}
.reviews .review_name {
    margin: 0 0 20px 0;
    text-align: center;
}
.reviews .ratio {
    margin: 0 auto 15px auto;
}
.review_txt {
    max-width: 300px;
    font-size: 14px;
    line-height: 17px;
    margin: 0 auto 25px auto;
}
.reviews button{
    display: block;
    margin: 0 auto;
}
}
/* media_for_block10 */
@media (max-width: 1250px){
.cont {
    flex-wrap: wrap;
    justify-content: left;
}
.contacts_txt{
    display: flex;
    flex-direction: row;
    margin: 0 0 33px 0;
}
.contacts_txt_1{
    margin:0 30px 0 0;
    padding:0 0 0 45px;
    min-width: 330px;
}
}
@media (max-width:768px){
.contacts {
    margin: 0;
}
}
@media (max-width:420px){
.contacts_txt {
    flex-direction: column;
}
.contacts_txt_2{
    padding: 0 0 0 45px
}
}
/* media_for_block11 */
@media (max-width: 1250px){
.questions_img_cont img{
    max-width: 100%;
}
}
@media (max-width:768px){
.questions_img_cont {
    margin: 0 30px 0 0;
}
.still_questions_txt {
    padding: 15px 0 0 0;
}
}
@media (max-width:420px){
.still_questions {
    padding: 30px 0 39px 0;
}
.still_questions_cont {
    justify-content: center;
}
.questions_img_cont {
   display: none;
}
.still_questions_txt {
    padding:0;
}
.still_questions_title {
    text-align: center;
    margin: 0 auto 21px auto;
}
.still_questions .about_company_txt{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    max-width: 290px;
}
.still_questions .about_company_txt{
    margin: 0 auto 20px auto;
}
.still_questions .button-block{
    display: flex;
    flex-direction: column;
}
.still_questions #ask_question{
    margin: 0 auto 21px auto;
}
.still_questions #request_btn{
    margin: 0 auto;
}
}
/*footer_header*/
@media (max-width:1024px){
.footer_header .telephone_num a {
    display: none;
}
.footer_header .telephone_num2 {
     display: none;
}
}
@media (max-width:768px){
.footer_header .header_block__nav {
    display: none;
}
.footer_header .logo_burger_cont {
   flex-direction: column;
}
.footer_header .telephone_num2 {
    display: block;
}
.footer_header .header_block__nav2 {
    display: block;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 60px;
}
.header_block__nav2 div{
    display: flex;
    flex-direction: row;
}
.header_block__nav2 .nav-item{
    width: 110px;
}
.footer_header .telephone_num2 a {
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
}
}
@media (max-width:420px){
.footer_menu_cont {
    flex-wrap: wrap;
}
.footer_menu_cont {
    flex-wrap: wrap;
    justify-content: center;
}
.header-logo {
    margin-right: 0;
}
.footer_header .header_block__nav2 {
    flex-direction: row;
}
.header_block__nav2 div {
    flex-direction: column;
}
.footer_header .logo_burger_cont {
    margin: 0 0 15px 0;
}
.footer_header .header_block__nav2 {
    justify-content: center;
    font-size: 14px;
    line-height: 17px;
}
.header_block__nav2 .nav-item{
    margin-right: 0;
    margin-bottom: 15px;
}
.header_block__nav2 > div:first-child{
    margin-right: 34px;
}
}
/* block12 */
@media (max-width:420px){
.footer {
    padding: 20px 0 20px 0;
}
.footer_cont {
    flex-wrap: wrap;
}
.footer_txt {
    margin: 0 auto 16px auto;
}
.footer_icons{
    margin: 0 auto;
}
}
/* block13 */
/* Задать вопрос */
.modal_form2{
    display: none;
}
.modal_form3{
    display:none;
}
.modal_form4{
    display:none;
}
.modal_form2 {
    width: 100%;
    height: 100%;
}
.modal_form2.active,
.modal_form3.active,
.modal_form4.active {
    display:block;
}
.form-container{
    width: 100%;
    max-width: 600px;
    background: #FFFFFF;
    z-index: 20;
    position: fixed;
    top: 15%;
    left: 36%;
    border: 2px solid #00B5DD;
    filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.2));
}
.form_cont_question .form-name, 
.form_cont_question .form-tel, 
.form_cont_question .form-email{
    margin:0 0 25px 0;
}
.form-email ,.form-comm, .form-prof,.form-feedback{
    padding: 10px 13px;
    background: #FFFFFF;
    border: 1px solid #A2A2A2;
    border-radius: 3px;
    font-size: 14px;
    line-height: 17px;
    width: 255px;
}
.form-comm{
    height: 105px;
    margin: 0 0 31px 0;
}
.modal_form2 textarea {
	resize: none;
    outline: none;
}
.modal_form2.form-btn{
    display: block;
    text-align: center;
}
.form_cont_question{
    padding: 0 30px 30px 30px;
}
.modal_form2 .inputs_cont{
    display: flex;
}

/* media_for_form Задать вопрос */
@media (max-width: 1250px){
.modal_form2 .form-container {
    left: 22%;
    top: 30%;
    }
}
@media (max-width: 768px){
.modal_form2 .form-container {
    left: 11%;
}
}
@media (max-width: 480px){
.modal_form2 .form-container {
    max-width: 100%;
    position: absolute;
    top: -65%;
    left: 0;
}
.modal_form2 .inputs_cont {
    display: flex;
    flex-wrap: wrap;
}
.modal_form2 .inputs_item {
    margin: 0 auto;
}
.modal_form2 .form-name ,.form-tel,.form-email, .form-comm{
    width: 290px;
    display: block;
} 
.form-comm {
    margin: 0 auto 31px auto;
}
.form-checkbox {
    justify-content: center;
}
.form-btn {
    display: block;
    }
}
/* Оставьте отзыв */
.star-block{
    display: flex;
}
.star-block div:last-child{
    display: block;
}
.modal_form3 .inputs_item {
    flex-direction: column;
}
.inputs_row{
    display: flex;
    margin:0 0 25px 0;
}
.d-flex-col{
    display: flex;
    flex-direction: column;
}
.modal_form3 .d-flex-col:first-child{
    margin:0 20px 0 0;
}
.modal_form3 .item-row{
    display: flex;
    flex-direction: row;
}
.form-feedback{
    width: 540px;
    margin: 0 0 26px 0;
}
.modal_form3 textarea {
	resize: none;
    outline: none;
}
.star-block {
    margin:0 0 20px 0;
}
.star-block .ratio{
    margin:0 10px 0 0;
}
.star-block span{
    font-size: 14px;
    line-height: 17px;
}
#fl_inp{
    display:none;
}
.fl_upld label{
    width:257px;
    height: 39px;
    cursor:pointer;
    border-radius:3px;
    padding:10px 32px;
    text-align: center;
    border: 1px solid #00B5DD;
    box-sizing: border-box;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    line-height: 20px;
}
/* media_for_form Оставьте отзыв */
@media (max-width: 1250px){
.modal_form3 .form-container {
    left: 22%;
}
}
@media (max-width: 768px){
.modal_form3 .form-container {
    left: 11%;
}
}
@media (max-width: 480px){
.form_cont_question {
    padding: 0 15px 30px 15px;
}
.modal_form3 .form-container {
    max-width: 100%;
    position: absolute;
    top: 0%;
    left: 0;
}
.inputs_row {
    flex-wrap: wrap;
}
.modal_form3 .inputs_item {
    margin: 0 auto;
}
.modal_form3 .d-flex-col:first-child {
    margin: 0 auto 26px auto;
}
.modal_form3 .form-name ,.form-email, .form-prof,.form-feedback{
    width: 290px;
}
.fl_upld label {
    margin: 0 auto;
    display: block;
}
.modal_form3 textarea {
    margin: 0 auto 26px auto;
    display: block;
}
.star-block {
    justify-content: center;
}
.modal_form3 .item-row {
    flex-wrap: wrap;
}
}
/* Заказать звонок*/
.form-container_req{
    width: 100%;
    max-width: 315px;
    background: #FFFFFF;
    z-index: 20;
    position: fixed;
    top: 15%;
    left: 42%;
}
.form_cont_req{
    padding: 0 30px 30px 30px;
}
/* media_for_form Заказать звонок */
@media (max-width: 1250px){
.modal_form4 .form-container_req {
    left: 35%;
    top: 30%;
    }
}
@media (max-width: 768px){
.modal_form4 .form-container_req {
    left: 29%;
}
}
@media (max-width: 480px){
    .modal_form4 .form-container_req {
    max-width: 100%;
    position: absolute;
    top: -55%;
    left: 0;
}
.modal_form4 .form_cont_req {
    padding: 0 15px 30px 15px;  
}
.modal_form4 input{
    display: block;
}
.modal_form4 .inputs_cont {
     display: flex;
    flex-wrap: wrap;
}
.modal_form4 .inputs_item {
    margin: 0 auto;
}
.modal_form4 .form-name ,.form-tel,.form-email, .form-comm{
    width: 290px;
} 
.modal_form4 .form-name {
    margin: 0 auto 25px auto;
}
.modal_form4 .form-tel{
    margin: 0 auto 17px auto;
}
}
